{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Hello Google Cloud Example!</h1>
    <p>Current date: <small>{{ title|date('Y-m-d H:i:s') }}</small></p>
    <dl>
        <dt>DB_HOST:</dt>
        <dd>{{ DB_HOST }}</dd>
        <dt>Pod IP:</dt>
        <dd>{{ POD_IP }}</dd>
        <dt>Log level:</dt>
        <dd>{{ LOG_LEVEL }}</dd>
    </dl>
{% endblock %}